altgraph==0.16.1
certifi==2018.8.13
chardet==3.0.4
click==6.7
decorator==4.3.0
dis3==0.1.2
Flask==1.0.2
Flask-WTF==0.14.2
future==0.16.0
geocoder==1.38.1
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
macholib==1.10
MarkupSafe==1.0
pefile==2018.8.8
PyInstaller==3.3.1
pypiwin32==223
pywin32==223
ratelim==0.1.6
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.10
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
