algorithm==1.2.0
altgraph==0.16.1
arabic-reshaper==2.0.14
backports.functools-lru-cache==1.5
certifi==2018.8.24
chardet==3.0.4
click==6.7
configparser==3.5.0
cycler==0.10.0
decorator==4.3.0
dependency-injection==1.2.0
dis3==0.1.2
Flask==1.0.2
Flask-WTF==0.14.2
future==0.16.0
geocoder==1.38.1
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
macholib==1.11
MarkupSafe==1.0
matplotlib==2.2.3
numpy==1.15.2
pyparsing==2.2.1
python-bidi==0.4.0
python-dateutil==2.7.3
pytz==2018.5
ratelim==0.1.6
requests==2.19.1
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
