a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input
{
   -webkit-appearance: none;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}

body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#indexShape3
{
   width: 794px;
   height: 144px;
   background-color: #0568CE;
   background-image: none;
   border: 3px #003264 solid;
}
#Shape1
{
   width: 794px;
   height: 1000px;
   background-color: #50A2E6;
   background: linear-gradient(to bottom, #50A2E6 0%, #0066CC 100%);
   border: 3px #003264 solid;
}
#indexShape2
{
   position: absolute;
   left: 4px;
   top: 4px;
   width: 539px;
   height: 65px;
   background-color: transparent;
   background-image: url(images/ثبت_گزارش_indexShape2_bkgrnd.png);
   background-repeat: repeat;
   background-position: left top;
   border: 2px #003264 solid;
   box-shadow: 4px 4px 9px rgba(0,0,0,0.52);
}
#indexShape2_text
{
   position: absolute;
   left: 1px;
   top: 3px;
   width: 537px;
   height: 61px;
   overflow: hidden;
   text-align: center;
}
#Shape2
{
   width: 194px;
   height: 457px;
   background-color: #0066CC;
   background-image: none;
   border: 3px #003264 solid;
}
#Shape4
{
   width: 522px;
   height: 900px;
   background-color: #FFFFFF;
   background-image: none;
   border: 3px #003264 solid;
}
#NavigationBar2 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar2 ul.navbar li
{
   height: 25px;
   width: 154px;
   margin: 0 0 10px 0;
   vertical-align: bottom;
}
#NavigationBar2 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar2 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar2 ul.navbar li span
{
   display: block;
   height: 25px;
   width: 154px;
   position: absolute;
   z-index: 2;
}
#NavigationBar2 a .hover
{
   visibility: hidden;
}
#NavigationBar2 a:hover .hover
{
   visibility: visible;
}
#NavigationBar2 a:hover span
{
   visibility: hidden;
}
#wb_Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Shape5
{
   border-width: 0;
}
#indexShape4
{
   width: 479px;
   height: 26px;
   background-color: transparent;
   background-image: url(images/ثبت_گزارش_indexShape4_bkgrnd.png);
   background-repeat: repeat;
   background-position: left top;
   border: 2px #003264 solid;
}
#wb_Text10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#indexImage1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText1 div
{
   text-align: right;
}
#wb_indexText3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_indexText3 div
{
   text-align: right;
}
#wb_page1Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_page1Text1 div
{
   text-align: right;
}
#page1NavigationBar1 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#page1NavigationBar1 ul.navbar li
{
   height: 25px;
   width: 154px;
   margin: 0 0 10px 0;
   vertical-align: bottom;
}
#page1NavigationBar1 ul.navbar li a
{
   display: block;
   position: relative;
}
#page1NavigationBar1 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#page1NavigationBar1 ul.navbar li span
{
   display: block;
   height: 25px;
   width: 154px;
   position: absolute;
   z-index: 2;
}
#page1NavigationBar1 a .hover
{
   visibility: hidden;
}
#page1NavigationBar1 a:hover .hover
{
   visibility: visible;
}
#page1NavigationBar1 a:hover span
{
   visibility: hidden;
}

#wb_Form1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
}

a.edaddlink:link{
   background-color: #3370B7;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.edaddlink:visited{
   color: white;
}
a.edaddlink:hover{
   background-color: #00BFFF;
}

a.logoutlink:link{
   background-color: #3370B7;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.logoutlink:visited{
   color: white;
}
a.logoutlink:hover{
   background-color: #00BFFF;
}

.Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#wb_Text4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text4 div
{
   text-align: right;
}
#Editbox1
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: middle;
}
#Editbox2
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox1
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;

}
#Combobox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text5 div
{
   text-align: right;
}
#Editbox3
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: middle;
   position:absolute;left:205px;top:96px;width:82px;height:17px;z-index:3;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox2
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;

}
#Combobox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox3
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;

}
#Combobox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox4
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;

}
#Combobox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox4
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: middle;
   position:absolute;left:205px;top:133px;width:82px;height:17px;z-index:7;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text7 div
{
   text-align: right;
}
#wb_Text8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text8 div
{
   text-align: right;
}
#Editbox5
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: middle;
   position:absolute;left:205px;top:171px;width:82px;height:17px;z-index:8;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox6
{
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 17px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: middle;
   position:absolute;left:205px;top:207px;width:82px;height:17px;z-index:9;
}
#Editbox6:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text9 div
{
   text-align: right;
}
#wb_Text3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text3 div
{
   text-align: right;
}
#wb_Text11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text11 div
{
   text-align: right;
}
#wb_Text12
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text12 div
{
   text-align: right;
}
#wb_Text13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text13 div
{
   text-align: right;
}

#نتایج_جست_و_جوTable1
{
   border: 1px solid #BFBFBF;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#نتایج_جست_و_جوTable1 td
{
   padding: 0;
}
#نتایج_جست_و_جوTable1 td div
{
   white-space: nowrap;
}
#نتایج_جست_و_جوTable1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: top;
   width: 76px;
   height: 18px;
}
#نتایج_جست_و_جوTable1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: top;
   width: 100px;
   height: 18px;
}
#نتایج_جست_و_جوTable1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: top;
   width: 76px;
   height: 18px;
}
#نتایج_جست_و_جوTable1 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: top;
   width: 100px;
   height: 18px;
}
#نتایج_جست_و_جوTable1 tr:nth-child(odd)
{
   background-color: #F2F2F2;
}
