body {
  margin: auto;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
  direction: rtl;
  background-repeat: no-repeat;
}

add_and_edit{
  text-align: right;
}
.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
.up-form {
  font-size: 18px;
  background: #7500f6 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  text-shadow: none;
  text-align:right;
  max-width:700px;
  width:100%;
  margin: 5% auto 0 auto;
  overflow: hidden;
  list-style-type: none;
}

form {
  border-radius: 0 0 5px 5px;
  max-width:750px;
  width:100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

h1,h2,h3 {
  text-align:center; 
  color: darkblue;
  margin:50px auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 15%;

}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #818182;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  float: right;
  padding: 0px 15px;
}

select {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #818182;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  float: right;
  padding: 0px 15px;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

i {
  color:#555;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li{
    float: right;
}
li a.edaddlink, li.edaddlink {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 16px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 5px;
}

li a.edaddlink:hover:not(.active) {
    background-color: #ab88f6;
}

li a.edaddlink.active {
    color: white;
    background-color: #4CAF50;
}

.error-message{
  color: red;
}
.accept-message{
  color: lawngreen;
}

.bouton-contact{
  background-color: darkslateblue;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.leftcontact {
  width:45%;
  float:right;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
  margin: 3% 5%;
}

.rightcontact {
  width:35%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
  margin: 3% 5%;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 80vh;
  background: #c4d3f6;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*padding: 33px 30px;*/
}

.wrap-table100 {
  width: 700px;
  border-radius: 10px;
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background: #6c7ae0;
}

@media screen and (max-width: 700px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 700px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-family: Roya;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c8b8f2;
}

.row.header .cell {
  font-family: Roya;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}
/*

.row .cell:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.row .cell:nth-child(2) {
  width: 160px;
}

.row .cell:nth-child(3) {
  width: 250px;
}

.row .cell:nth-child(4) {
  width: 190px;
}
*/


.table, .row {
  width: 100% !important;
}

@media (max-width: 700px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .row .cell {
    font-family: Roya;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
}