{% extends "layout_add_first.html" %}

{% block content %}
<form action="/first_add_record" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
				{% if error %}
					<p class="error-message">{{ error }}</p>
				{% elif message %}
					<p class="accept-message">{{ message }}</p>
				{% endif %}
			<p>کد </p>
				{{ form.code }}
      		</div>

			<div class="form-group">
            <p>شماره قرارداد </p>
				{{ form.contract }}
                <div class="validation"></div>
			</div>
			
            <div class="form-group">
            <p>نام مدیر </p>
				{{ form.manager_name }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>مسئول پیگیری کننده </p>
                {{ form.m_p_k }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>مسئول ثبت اطلاعات </p>
				{{ form.m_s_e }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>مسئول تأیید کننده اطلاعات </p>
				{{ form.m_t_e }}
                <div class="validation"></div>
			</div>

			<!--<div class="form-group">
			<p>Postcode </p>
			<span class="icon-case"><i class="fa fa-map-marker"></i></span>
				<input type="text" name="postal" id="postal" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postal' doit être renseigné."/>
                <div class="validation"></div>
			</div>-->
	</div>

	<div class="leftcontact">
			
			<div class="form-group">
			<p>کارکرد </p>
				{{ form.performance }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>
			
			<div class="form-group">
			<p>اهمیت استراتژیک </p>
				{{ form.strategic }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>
			
			<div class="form-group">
			<p>سال </p>
				{{ form.rec_date_year }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>ماه </p>
				{{ form.rec_date_month }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>روز </p>
                {{ form.rec_date_day }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			{% if subj_err %}
				<p class="error-message">{{ subj_err }}</p>
			{% endif %}
			<p>موضوع </p>
                {{ form.subject }}
                <div class="validation"></div>
			</div>

			<!--<div class="form-group">
			<p>Message </p>
			<span class="icon-case"><i class="fa fa-comments-o"></i></span>
                <textarea name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea>
                <div class="validation"></div>
			</div>-->
	</div>
    {{ form.continues(class="bouton-contact") }}
</form>
{% endblock %}