{% extends "layout_second_amar.html" %}

{% block content %}
<form>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <br>
                <div class="table">
                    <div class="row header">
                        <div class="cell">موضوع</div>
                        <div class="cell" >درصد عملکرد</div>
                    </div>
                    {% for i in range(performance_percents.values().__len__()) %}
                    <div class="row" >
                        <div class="cell">{{ performance_percents.keys()[i] }}</div>
                        <div class="cell" >{{ performance_percents.values()[i] }}%</div>
                    </div>
                    {% endfor %}
                    <br>
                </div>
                <div class="table">
                    <div class="row">
                        <div class="cell"><img src="{{ url_for('static', filename='first_table_plot.svg') }}"></div>
                    </div>
                </div>
                <br>
                <div class="table">
                    <div class="row header">
                        <div class="cell">عنوان برنامه</div>
                        <div class="cell" >میانگین مخاطب</div>
                    </div>
                    {% for i in range(contacts_avgs.values().__len__()) %}
                    <div class="row">
                        <div class="cell">{{ contacts_avgs.keys()[i] }}</div>
                        <div class="cell" >{{ contacts_avgs.values()[i] }}</div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <div class="table">
                    <div class="row header">
                        <div class="cell">موضوع</div>
                        {% for month in selected_months %}
                            <div class="cell">{{ month }}</div>
                        {% endfor %}
                    </div>
                    {% for i in range(perf_counts.__len__()) %}
                        <div class="row">
                            <div class="cell">{{ perf_counts.keys()[i] }}</div>
                            {% for j in range(perf_counts.values()[i].__len__()) %}
                                <div class="cell">{{ perf_counts.values()[i].values()[j] }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <br>
                </div>
                <div class="table">
                    <div class="row" style="border-bottom: 3px solid black">
                        <div class="cell"   style="alignment: center"><img width='100%' height="100%" src="{{ url_for('static', filename='second_table_plot.svg') }}"></div>
                    </div>
                    <br>
                </div>
            </div>
            </div>
        </div>
    </div>
</form>
<form action="/amar_second_page" method="POST">
         <div class="form-group">
             <p>آمار دقیق</p>
            {% if subj_err %}
                <p class="error-message">{{ subj_err }}</p>
            {% endif %}
            <p>موضوع </p>
                {{ form.subject }}
        </div>
    {{ form.search(class="bouton-contact") }}
</form>
{% endblock %}