{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_congress" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام همایش</p>
				{{ form.name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>نام دفتر </p>
				{{ form.office }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد مخاطب </p>
                {{ form.contact_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>وضعیت مخاطب </p>
				{{ form.contact_pos }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>کشور محل برگزاری </p>
				{{ form.country }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>استان محل برگزاری </p>
				{{ form.city }}
				<div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>سالن محل برگزاری </p>
				{{ form.salon }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>قالب برنامه </p>
				{{ form.frame }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>محور محتوایی </p>
                {{ form.meh_moh }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>مهمان های خاص </p>
                {{ form.famous_persons }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>سخنران ها </p>
				{{ form.sokhanrans }}
				<div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}