
{% extends "layout.html" %}{% block content %}<div id="wb_Form1" style="position:absolute;left:251px;top:229px;width:512px;height:621px;z-index:74;">
<form name="contact" method="post" action="/enghelab_lib" id="Form1">
    {{ form.hidden_tag() }}
    {{ form.ex_subjects_number(id="Editbox3", style="position:absolute;left:253px;top:12px;width:29px;height:17px;z-index:0;") }}
    {{ form.ex_resource_number(id="Editbox3", style="position:absolute;left:253px;top:45px;width:29px;height:17px;z-index:1;") }}
    {{ form.ex_digital_resource_number(id="Editbox3", style="position:absolute;left:253px;top:76px;width:29px;height:17px;z-index:2;") }}
    {{ form.ex_pn_resource_number(id="Editbox3", style="position:absolute;left:253px;top:111px;width:29px;height:17px;z-index:3;") }}
    {{ form.lang1(id="Combobox2", style="position:absolute;left:242px;top:163px;width:90px;height:28px;z-index:14;") }}
    {{ form.lang2(id="Combobox2", style="position:absolute;left:243px;top:199px;width:90px;height:28px;z-index:13;") }}
    {{ form.lang3(id="Combobox2", style="position:absolute;left:243px;top:240px;width:90px;height:28px;z-index:12;") }}
    {{ form.new_subjects_number(id="Editbox3", style="position:absolute;left:266px;top:294px;width:32px;height:17px;z-index:24;") }}
    {{ form.new_resource_number(id="Editbox3", style="position:absolute;left:267px;top:328px;width:32px;height:17px;z-index:23;") }}
    {{ form.new_digital_resource_number(id="Editbox3", style="position:absolute;left:267px;top:366px;width:32px;height:17px;z-index:27;") }}
    {{ form.new_pn_resource_number(id="Editbox3", style="position:absolute;left:266px;top:400px;width:32px;height:17px;z-index:29;") }}
    {{ form.couns_pn_number(id="Editbox3", style="position:absolute;left:273px;top:465px;width:32px;height:17px;z-index:32;") }}
    {{ form.couns_research_proj_number(id="Editbox3", style="position:absolute;left:273px;top:499px;width:32px;height:17px;z-index:33;") }}
    {{ form.pn_subjects_number(id="Editbox3", style="position:absolute;left:273px;top:528px;width:32px;height:17px;z-index:41;") }}
    {{ form.lib_members_number(id="Editbox3", style="position:absolute;left:5px;top:12px;width:32px;height:17px;z-index:11;") }}
    {{ form.lib_members_number_thisYear(id="Editbox3", style="position:absolute;left:5px;top:45px;width:32px;height:17px;z-index:10;") }}
    {{ form.lib_members_women(id="Editbox3", style="position:absolute;left:5px;top:74px;width:32px;height:17px;z-index:9;") }}
    {{ form.lib_members_men(id="Editbox3", style="position:absolute;left:5px;top:111px;width:32px;height:17px;z-index:8;") }}
    {{ form.lib_members_diplom(id="Editbox3", style="position:absolute;left:5px;top:172px;width:32px;height:17px;z-index:18;") }}
    {{ form.lib_members_kardani(id="Editbox3", style="position:absolute;left:5px;top:206px;width:32px;height:17px;z-index:19;") }}
    {{ form.lib_members_karshenasi(id="Editbox3", style="position:absolute;left:5px;top:240px;width:32px;height:17px;z-index:19;") }}
    {{ form.lib_members_doctori(id="Editbox3", style="position:absolute;left:5px;top:274px;width:32px;height:17px;z-index:19;") }}
    {{ form.borrowed_book_number(id="Editbox3", style="position:absolute;left:5px;top:314px;width:32px;height:17px;z-index:53;") }}
    {{ form.borrowed_nash_number(id="Editbox3", style="position:absolute;left:5px;top:347px;width:32px;height:17px;z-index:54;") }}
    {{ form.borrowed_digital_number(id="Editbox3", style="position:absolute;left:5px;top:378px;width:32px;height:17px;z-index:55;") }}
    {{ form.borrowed_pn_number(id="Editbox3", style="position:absolute;left:5px;top:410px;width:32px;height:17px;z-index:56;") }}
    {{ form.description(id="TextArea1", style="position:absolute;left:39px;top:479px;width:130px;height:90px;z-index:47;") }}

    <!--{{form.back(id="Button3", style="position:absolute;left:88px;top:600px;width:90px;height:25px;z-index:21;")}}-->
    {{form.add(id="Button1", style="position:absolute;left:304px;top:600px;width:90px;height:25px;z-index:23;")}}

<div id="wb_کتابخانه_جنگText5" style="position:absolute;left:51px;top:16px;width:181px;height:19px;text-align:right;z-index:4;">
<span style="color:#000000;font-size:16px;"><strong>تعداد کل اعضا کتابخانه</strong></span></div>
<div id="wb_کتابخانه_جنگText6" style="position:absolute;left:51px;top:49px;width:181px;height:19px;text-align:right;z-index:5;">
<span style="color:#000000;font-size:16px;"><strong>تعداد اعضا کتابخانه در سال جاری</strong></span></div>
<div id="wb_کتابخانه_جنگText7" style="position:absolute;left:51px;top:82px;width:181px;height:19px;text-align:right;z-index:6;">
<span style="color:#000000;font-size:16px;"><strong>تعداد اعضا زن</strong></span></div>
<div id="wb_کتابخانه_جنگText8" style="position:absolute;left:51px;top:115px;width:181px;height:19px;text-align:right;z-index:7;">
<span style="color:#000000;font-size:16px;"><strong>تعداد اعضا مرد</strong></span></div>

<div id="wb_کتابخانه_جنگText9" style="position:absolute;left:39px;top:175px;width:197px;height:19px;text-align:right;z-index:15;">
<span style="color:#000000;font-size:16px;"><strong>تعداد اعضا با تحصیلات حداکثر دیپلم</strong></span></div>
<div id="wb_کتابخانه_جنگText10" style="position:absolute;left:41px;top:204px;width:197px;height:19px;text-align:right;z-index:16;">
<span style="color:#000000;font-size:16px;"><strong>تعداد اعضا با تحصیلات کاردانی</strong></span></div>
<div id="wb_کتابخانه_جنگText11" style="position:absolute;left:39px;top:241px;width:197px;height:19px;text-align:right;z-index:17;">
<span style="color:#000000;font-size:16px;"><strong>تعداد اعضا با تحصیلات کارشناسی</strong></span></div>
<div id="wb_کتابخانه_جنگText12" style="position:absolute;left:39px;top:271px;width:197px;height:19px;text-align:right;z-index:22;">
<span style="color:#000000;font-size:16px;"><strong>تعداد اعضا با تحصیلات دکتری</strong></span></div>
<div id="wb_کتابخانه_جنگText13" style="position:absolute;left:56px;top:321px;width:197px;height:19px;text-align:right;z-index:25;">
<span style="color:#000000;font-size:16px;"><strong>تعداد نسخه منابع امانت رفته کتاب</strong></span></div>
<div id="wb_کتابخانه_جنگText14" style="position:absolute;left:56px;top:349px;width:197px;height:19px;text-align:right;z-index:26;">
<span style="color:#000000;font-size:16px;"><strong>تعداد شماره منابع امانت رفته نشریه</strong></span></div>
<div id="wb_کتابخانه_جنگText15" style="position:absolute;left:56px;top:384px;width:197px;height:19px;text-align:right;z-index:28;">
<span style="color:#000000;font-size:16px;"><strong>تعداد حلقه منابع امانت رفته دیجیتال</strong></span></div>
<div id="wb_کتابخانه_جنگText16" style="position:absolute;left:40px;top:418px;width:213px;height:19px;text-align:right;z-index:30;">
<span style="color:#000000;font-size:16px;"><strong>تعداد نسخه منابع امانت رفته پایان نامه</strong></span></div>
<div id="wb_کتابخانه_جنگText20" style="position:absolute;left:54px;top:469px;width:194px;height:19px;text-align:right;z-index:31;">
<span style="color:#000000;font-size:16px;"><strong>توضیحات</strong></span></div>
<div id="wb_page1Text6" style="position:absolute;left:333px;top:163px;width:145px;height:19px;text-align:right;z-index:34;">
<span style="color:#000000;font-size:16px;"><strong>زبان کتاب ها 1</strong></span></div>
<div id="wb_page2Text1" style="position:absolute;left:333px;top:199px;width:145px;height:19px;text-align:right;z-index:35;">
<span style="color:#000000;font-size:16px;"><strong>زبان کتاب ها 2</strong></span></div>
<div id="wb_page2Text2" style="position:absolute;left:333px;top:241px;width:145px;height:19px;text-align:right;z-index:36;">
<span style="color:#000000;font-size:16px;"><strong>زبان کتاب ها 3</strong></span></div>
<div id="wb_page1Text4" style="position:absolute;left:321px;top:82px;width:168px;height:19px;text-align:right;z-index:37;">
<span style="color:#000000;font-size:16px;"><strong>تعداد حلقه منابع موجود دیجیتال</strong></span></div>
<div id="wb_page1Text3" style="position:absolute;left:322px;top:50px;width:167px;height:38px;text-align:right;z-index:38;">
<span style="color:#000000;font-size:16px;"><strong>تعداد شماره منابع موجود نشریه </strong></span></div>
<div id="wb_کتابخانه_جنگText1" style="position:absolute;left:304px;top:294px;width:181px;height:19px;text-align:right;z-index:39;">
<span style="color:#000000;font-size:16px;"><strong>تعداد عناوین متابع جدید کتاب</strong></span></div>
<div id="wb_کتابخانه_جنگText2" style="position:absolute;left:322px;top:332px;width:167px;height:19px;text-align:right;z-index:40;">
<span style="color:#000000;font-size:16px;"><strong>تعداد شماره منابع جدید نشریه </strong></span></div>
<div id="wb_page1Text5" style="position:absolute;left:297px;top:115px;width:194px;height:19px;text-align:right;z-index:42;">
<span style="color:#000000;font-size:16px;"><strong>تعداد عناوین منابع موجود پایان نامه</strong></span></div>
<div id="wb_page1Text2" style="position:absolute;left:311px;top:16px;width:181px;height:19px;text-align:right;z-index:43;">
<span style="color:#000000;font-size:16px;"><strong>تعداد عناوین متابع موجود کتاب</strong></span></div>
<div id="wb_کتابخانه_جنگText3" style="position:absolute;left:322px;top:366px;width:168px;height:19px;text-align:right;z-index:44;">
<span style="color:#000000;font-size:16px;"><strong>تعداد حلقه منابع جدید دیجیتال</strong></span></div>
<div id="wb_کتابخانه_جنگText4" style="position:absolute;left:304px;top:404px;width:194px;height:19px;text-align:right;z-index:45;">
<span style="color:#000000;font-size:16px;"><strong>تعداد عناوین منابع جدید پایان نامه</strong></span></div>
<div id="wb_کتابخانه_جنگText17" style="position:absolute;left:309px;top:470px;width:194px;height:19px;text-align:right;z-index:46;">
<span style="color:#000000;font-size:16px;"><strong>تعداد مشاوره های پایان نامه</strong></span></div>
<div id="wb_کتابخانه_جنگText18" style="position:absolute;left:311px;top:499px;width:194px;height:19px;text-align:right;z-index:48;">
<span style="color:#000000;font-size:16px;"><strong>تعداد مشاوره های پروژه پژوهشی</strong></span></div>
<div id="wb_کتابخانه_جنگText19" style="position:absolute;left:311px;top:528px;width:194px;height:19px;text-align:right;z-index:49;">
<span style="color:#000000;font-size:16px;"><strong>تعداد عناوین پایان نامه ها</strong></span></div>
<!--<input type="submit" id="page2Button1" name="chap" value="چاپ" style="position:absolute;left:104px;top:590px;width:90px;height:25px;z-index:51;">-->
<a class="back" style="position:absolute;left:88px;top:350px;z-index:21;" href="{{ url_for('first_add_record') }}">بازگشت</a></form>
</div>
</body>
</html>{% endblock %}