{% extends "layout_first_eval.html" %}

{% block content %}
<form action="/evaluation" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			{% if subj_err %}
				<p class="error-message">{{ subj_err }}</p>
			{% endif %}
			<p>موضوع </p>
                {{ form.subject }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
                <p>تعداد گزارش های ارزیابی نشده: {{ evaluated_num }}</p>
				{{ form.evaluated }}
                <div class="validation"></div>
			</div>
	</div>
    {{ form.search(class="bouton-contact") }}
</form>
{% endblock %}