{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_exhibitions" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام نمایشگاه </p>
				{{ form.name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>موضوع </p>
				{{ form.show_subject }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>استان محل برگزاری </p>
                {{ form.os_city }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>شهر محل برگزاری </p>
				{{ form.city }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد مخاطب </p>
				{{ form.contact_num }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>محور محتوایی </p>
				{{ form.meh_moh }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تاریخ پایان </p>
			<p>سال </p>
				{{ form.finish_date_year }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>ماه </p>
                {{ form.finish_date_month }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>روز </p>
                {{ form.finish_date_day }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>توضیحات </p>
				{{ form.description }}
				<div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}