
{% extends "layout.html" %}{% block content %}<div id="wb_Form1" style="position:absolute;left:263px;top:219px;width:512px;height:845px;z-index:55;">
<form name="contact" method="post" action="/festivals_detailed" id="Form1">
    {{ form.hidden_tag() }}
    {{ form.name(id="Editbox3", style="position:absolute;left:323px;top:61px;width:70px;height:17px;z-index:8;") }}
    {{ form.subject(id="Editbox3", style="position:absolute;left:323px;top:93px;width:70px;height:17px;z-index:8;") }}
    {{ form.art_dab(id="Editbox3", style="position:absolute;left:323px;top:125px;width:70px;height:17px;z-index:8;") }}
    {{ form.all_asar(id="Editbox3", style="position:absolute;left:323px;top:160px;width:70px;height:17px;z-index:10;") }}
    {{ form.take_parted_person(id="Editbox3", style="position:absolute;left:264px;top:217px;width:70px;height:17px;z-index:4;") }}
    {{ form.os_city(id="Combobox2", style="position:absolute;left:259px;top:253px;width:90px;height:28px;z-index:5;") }}
    {{ form.city(id="Combobox2", style="position:absolute;left:259px;top:289px;width:90px;height:28px;z-index:6;") }}
    {{ form.finished_asar(id="Editbox3", style="position:absolute;left:257px;top:343px;width:32px;height:17px;z-index:3;") }}
    {{ form.asar_parted_num(id="TextArea1", style="position:absolute;left:249px;top:410px;width:183px;height:90px;z-index:14;") }}
    {{ form.international_rec(id="TextArea1", style="position:absolute;left:249px;top:550px;width:183px;height:90px;z-index:34;") }}
    {{ form.area_rec(id="TextArea1", style="position:absolute;left:251px;top:694px;width:183px;height:90px;z-index:34;") }}
    {{ form.asar_parted_in_dif(id="TextArea1", style="position:absolute;left:49px;top:93px;width:168px;height:84px;z-index:21;") }}
    {{ form.salon(id="Combobox2", style="position:absolute;left:16px;top:212px;width:90px;height:28px;z-index:28;") }}
    {{ form.choosing_asar_team(id="Editbox3", style="position:absolute;left:26px;top:254px;width:70px;height:17px;z-index:22;") }}
    {{ form.referees(id="Editbox3", style="position:absolute;left:26px;top:290px;width:70px;height:17px;z-index:23;") }}
    {{ form.women(id="Editbox3", style="position:absolute;left:73px;top:400px;width:32px;height:17px;z-index:0;") }}
    {{ form.men(id="Editbox3", style="position:absolute;left:73px;top:445px;width:32px;height:17px;z-index:1;") }}

    <!--{{form.back(id="Button3", style="position:absolute;left:88px;top:800px;width:90px;height:25px;z-index:21;")}}-->
    {{form.add(id="Button1", style="position:absolute;left:304px;top:800px;width:90px;height:25px;z-index:23;")}}


<div id="wb_کتابخانه_جنگText5" style="position:absolute;left:88px;top:65px;width:207px;height:19px;text-align:right;z-index:2;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد تفکیکی آثار در بخش های مختلف</strong></span></div>
<div id="wb_page2Text2" style="position:absolute;left:324px;top:290px;width:145px;height:19px;text-align:right;z-index:11;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>شهر برگزاری</strong></span></div>
<div id="wb_page2Text1" style="position:absolute;left:324px;top:248px;width:145px;height:19px;text-align:right;z-index:12;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>استان برگزاری</strong></span></div>
<div id="wb_کتابخانه_جنگText1" style="position:absolute;left:295px;top:343px;width:181px;height:19px;text-align:right;z-index:13;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد آثار نهایی در مسابقه </strong></span></div>
<div id="wb_جشنواره_ها-تفصیلیText3" style="position:absolute;left:433px;top:94px;width:50px;height:19px;text-align:right;z-index:15;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>موضوع</strong></span></div>
<div id="wb_page1Text4" style="position:absolute;left:312px;top:131px;width:168px;height:19px;text-align:right;z-index:16;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>دبیر هنری</strong></span></div>
<div id="wb_page1Text5" style="position:absolute;left:288px;top:164px;width:194px;height:19px;text-align:right;z-index:17;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد کل آثار</strong></span></div>
<div id="wb_page1Text6" style="position:absolute;left:335px;top:221px;width:145px;height:19px;text-align:right;z-index:18;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد افراد شرکت کننده</strong></span></div>
<div id="wb_کتابخانه_جنگText2" style="position:absolute;left:314px;top:381px;width:167px;height:19px;text-align:right;z-index:19;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد تفکیکی آثار در مسابقه </strong></span></div>
<div id="wb_کتابخانه_جنگText17" style="position:absolute;left:277px;top:521px;width:194px;height:19px;text-align:right;z-index:20;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>گزارش بخش بین الملل</strong></span></div>
<div id="wb_کتابخانه_جنگText11" style="position:absolute;left:30px;top:290px;width:197px;height:19px;text-align:right;z-index:24;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تیم داوری نهایی</strong></span></div>
<div id="wb_کتابخانه_جنگText10" style="position:absolute;left:30px;top:254px;width:197px;height:19px;text-align:right;z-index:25;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تیم انتخاب آثار</strong></span></div>
<div id="wb_کتابخانه_جنگText9" style="position:absolute;left:30px;top:224px;width:197px;height:19px;text-align:right;z-index:26;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>سالن برگزاری</strong></span></div>
<div id="wb_جشنواره_ها-تفصیلیText5" style="position:absolute;left:26px;top:451px;width:181px;height:19px;text-align:right;z-index:27;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد نهایی مرد</strong></span></div>
<div id="wb_جشنواره_ها-تفصیلیText4" style="position:absolute;left:27px;top:404px;width:181px;height:19px;text-align:right;z-index:29;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد نهایی زن</strong></span></div>
<div id="wb_page1Text2" style="position:absolute;left:295px;top:65px;width:181px;height:19px;text-align:right;z-index:30;">
    <span style="color:#000000;font-family:Arial;font-size:16px;"><strong>نام</strong></span></div>
<!--<input type="submit" id="page2Button1" name="chap" value="چاپ" style="position:absolute;left:115px;top:808px;width:90px;height:25px;z-index:31;">-->
<div id="wb_جشنواره_ها-تفصیلیText6" style="position:absolute;left:277px;top:665px;width:194px;height:19px;text-align:right;z-index:34;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>گزارش بخش منطقه ای</strong></span></div>
</form>
</div>
<div id="wb_جشنواره_ها-تفصیلیText2" style="position:absolute;left:737px;top:1087px;width:181px;height:19px;text-align:right;z-index:56;">
</body>
</html>{% endblock %}