
{% extends "layout - edit.html" %}{% block content %}<div id="wb_Form1" style="position:absolute;left:266px;top:238px;width:483px;height:419px;z-index:36;">

<form name="contact" method="post" action="/edit_festivals" id="Form1">
    {{ form.hidden_tag() }}
    {{ form.name(id="Editbox3", style="position:absolute;left:233px;top:22px;width:82px;height:17px;z-index:9;") }}
    {{ form.fest_subjects(id="Editbox3", style="position:absolute;left:233px;top:61px;width:82px;height:17px;z-index:8;") }}
    {{ form.level(id="Editbox3", style="position:absolute;left:233px;top:98px;width:82px;height:17px;z-index:7;") }}
    {{ form.country(id="Editbox3", style="position:absolute;left:17px;top:22px;width:82px;height:17px;z-index:16;") }}
    {{ form.city(id="Combobox2", style="position:absolute;left:15px;top:61px;width:90px;height:28px;z-index:17;") }}
    {{ form.salon(id="Combobox2", style="position:absolute;left:15px;top:99px;width:90px;height:28px;z-index:18;") }}
    {{ form.referee(id="TextArea1", style="position:absolute;left:307px;top:170px;width:83px;height:97px;z-index:11;") }}
    {{ form.amalkard_description(id="TextArea1", style="position:absolute;left:41px;top:179px;width:90px;height:90px;z-index:6;") }}
    {{form.back(id="Button3", style="position:absolute;left:88px;top:350px;width:90px;height:25px;z-index:21;")}}
    {{form.add(id="Button1", style="position:absolute;left:304px;top:350px;width:90px;height:25px;z-index:23;")}}
<!--<input type="submit" id="Button4" name="chap" value="چاپ" style="position:absolute;left:198px;top:337px;width:90px;height:25px;z-index:1;">-->
<div id="wb_page1Text8" style="position:absolute;left:109px;top:65px;width:107px;height:38px;text-align:right;z-index:3;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>استان محل برگزاری</strong></span></div>
<div id="wb_page1Text9" style="position:absolute;left:105px;top:102px;width:111px;height:19px;text-align:right;z-index:4;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>سالن محل برگزاری</strong></span></div>
<div id="wb_page1Text10" style="position:absolute;left:27px;top:140px;width:179px;height:19px;text-align:right;z-index:5;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>شرح عملکرد واحد در جشنواره</strong></span></div>
<div id="wb_page1Text7" style="position:absolute;left:109px;top:26px;width:107px;height:38px;text-align:right;z-index:10;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>کشور محل برگزاری</strong></span></div>
<div id="wb_page1Text2" style="position:absolute;left:400px;top:26px;width:69px;height:19px;text-align:right;z-index:12;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>نام جشنواره</strong></span></div>
<div id="wb_page1Text3" style="position:absolute;left:417px;top:65px;width:52px;height:19px;text-align:right;z-index:13;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>موضوع</strong></span></div>
<div id="wb_page1Text4" style="position:absolute;left:359px;top:102px;width:111px;height:19px;text-align:right;z-index:14;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>سطح برگزاری</strong></span></div>
<div id="wb_page1Text5" style="position:absolute;left:359px;top:140px;width:111px;height:19px;text-align:right;z-index:15;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>اسامی داوران</strong></span></div>

</form>
</div>
</body>
</html>{% endblock %}