{% extends "layout_edit.html" %}

{% block content %}
<form>
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
                <div class="table">
                    <div class="row header">
                        <div class="cell" > کد</div>
                        <div class="cell" > موضوع</div>
                        <div class="cell" > روز</div>
                        <div class="cell" > ماه</div>
                        <div class="cell" > سال</div>
                    </div>
                    {% for i in range(search_results.__len__()) %}
                        {% for j in range(search_results.values()[i].__len__()) %}
                    <div class="row">
                        <div class="cell" >{{ search_results.values()[i][j][0][1:] }} </div>
                        <div class="cell" >{{ search_results.keys()[i] }} </div>
                        <div class="cell" >{{ search_results.values()[i][j][7] }} </div>
                        <div class="cell" >{{ search_results.values()[i][j][6] }} </div>
                        <div class="cell" >{{ search_results.values()[i][j][5] }} </div>
                    </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}