{% extends "layout_add_second.html" %}

{% block content %}
<form action="/jang_lib" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p> تعداد عناوین متابع موجود کتاب</p>
				{{ form.ex_subjects_number }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p> تعداد شماره منابع موجود نشریه  </p>
				{{ form.ex_resource_number }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد حلقه منابع موجود دیجیتال </p>
                {{ form.ex_digital_resource_number }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد عناوین منابع موجود پایان نامه </p>
				{{ form.ex_pn_resource_number }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> زبان کتاب ها 1 </p>
				{{ form.lang1 }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> زبان کتاب ها 2 </p>
				{{ form.lang2 }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> زبان کتاب ها 3 </p>
				{{ form.lang3 }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد عناوین متابع جدید کتاب </p>
				{{ form.new_subjects_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد شماره منابع جدید نشریه  </p>
				{{ form.new_resource_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد حلقه منابع جدید دیجیتال </p>
				{{ form.new_digital_resource_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد عناوین منابع جدید پایان نامه </p>
				{{ form.new_pn_resource_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد مشاوره های پایان نامه </p>
				{{ form.couns_pn_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد مشاوره های پروژه پژوهشی </p>
				{{ form.couns_research_proj_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد عناوین پایان نامه ها </p>
				{{ form.pn_subjects_number }}
				<div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p> تعداد کل اعضا کتابخانه </p>
				{{ form.lib_members_number }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد اعضا کتابخانه در سال جاری </p>
				{{ form.lib_members_number_thisYear }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد اعضا زن </p>
                {{ form.lib_members_women }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد اعضا مرد </p>
                {{ form.lib_members_men }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد اعضا با تحصیلات حداکثر دیپلم </p>
				{{ form.lib_members_diplom }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد اعضا با تحصیلات کاردانی </p>
				{{ form.lib_members_kardani }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد اعضا با تحصیلات کارشناسی </p>
				{{ form.lib_members_karshenasi }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد اعضا با تحصیلات دکتری </p>
				{{ form.lib_members_doctori }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد نسخه منابع امانت رفته کتاب </p>
				{{ form.borrowed_book_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد شماره منابع امانت رفته نشریه </p>
				{{ form.borrowed_nash_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد حلقه منابع امانت رفته دیجیتال </p>
				{{ form.borrowed_digital_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p> تعداد نسخه منابع امانت رفته پایان نامه </p>
				{{ form.borrowed_pn_number }}
				<div class="validation"></div>
			</div>

			<div class="form-group">
			<p>توضیحات </p>
				{{ form.description }}
				<div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>


{% endblock %}