<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Elegant Contact Form </title>
 
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body background="{{url_for('static', filename='images/back-1.jpg')}}">
	  <h2>خوش آمدید &nbsp;{{ user }}</h2>
      <h2>آمار </h2>

      <ul class="up-form">
          <li><a class="edaddlink" href="{{ url_for('evaluation') }}">ارزیابی</a></li>
          <li><a class="edaddlink" href="{{ url_for('amar_first_page') }}">آمار</a></li>
          <li style="float: left"><a class="edaddlink" href="{{ url_for('logout') }}">خروج</a></li>
          <li style="float: left"><a class="edaddlink" href="{{ url_for('amar_first_page') }}">بازگشت</a></li>
      </ul>
    
    <script  src="{{url_for('static', filename='js/index.js')}}"></script>
{% block content %}
{% endblock %}

</body>

</html>
