{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_show" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام اثر</p>
				{{ form.name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>نویسنده </p>
				{{ form.author }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>کارگردان </p>
                {{ form.director }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>محل اجرا </p>
				{{ form.place }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>سالن اجرا </p>
				{{ form.salon }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>نوع اجرا </p>
				{{ form.show_kind }}
				<div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>قالب اجرا </p>
				{{ form.frame }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد اجرا </p>
				{{ form.ejra_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد مخاطب </p>
                {{ form.contact_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>وضعیت مخاطب </p>
                {{ form.contact_status }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>محور محتوایی </p>
				{{ form.meh_moh }}
				<div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}