{% extends "layout_add_second.html" %}

{% block content %}
<form action="/letters_expert" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>تعداد آثار کارشناسی شده</p>
				{{ form.kar_number }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>تعداد آثار تأیید شده </p>
				{{ form.accepted_number }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>قالب اثر مکتوب </p>
			<p>پژوهش </p>
				{{ form.research }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>نمایشنامه </p>
				{{ form.namaysh_name }}
                <div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}