{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_multimedia" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام </p>
				{{ form.name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>قالب </p>
				{{ form.frame }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>نام مرکز </p>
                {{ form.center }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>محل استفاده </p>
				{{ form.used_place }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>منشأ تولید </p>
				{{ form.producted_place }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>مدت زمان محصول </p>
				{{ form.product_time }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>مورد استفاده </p>
				{{ form.used }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>محور محتوایی </p>
                {{ form.meh_moh }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>توضیحات </p>
                {{ form.description }}
                <div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}