{% extends "layout_add_second.html" %}

{% block content %}
<form action="/photography_projects" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام پروژه</p>
				{{ form.name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>موضوع </p>
				{{ form.photo_subject }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">
			<div class="form-group">
			<p>هنرمند </p>
				{{ form.photographer_name }}
                <div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}