
{% extends "layout.html" %}{% block content %}<div id="wb_Form1" style="position:absolute;left:270px;top:228px;width:483px;height:521px;z-index:40;">
<form name="contact" method="post" action="/poem_expert" id="Form1">

    {{ form.hidden_tag() }}
    {{ form.sent_asar(id="Editbox3", style="position:absolute;left:159px;top:5px;width:82px;height:17px;z-index:0;") }}
    {{ form.seen_asar_num(id="Editbox3", style="position:absolute;left:159px;top:48px;width:82px;height:17px;z-index:1;") }}
    {{ form.one_asar_num(id="Editbox3", style="position:absolute;left:160px;top:78px;width:82px;height:17px;z-index:2;") }}
    {{ form.collections_num(id="Editbox3", style="position:absolute;left:159px;top:108px;width:82px;height:17px;z-index:3;") }}
    {{ form.sent_to_mehr_asar_num(id="Editbox3", style="position:absolute;left:159px;top:138px;width:82px;height:17px;z-index:4;") }}
    {{ form.sent_to_city_asar_num(id="Editbox3", style="position:absolute;left:159px;top:168px;width:82px;height:17px;z-index:5;") }}
    {{ form.printed_num(id="Editbox3", style="position:absolute;left:160px;top:198px;width:82px;height:17px;z-index:6;") }}
    {{ form.in_printed_num(id="Editbox3", style="position:absolute;left:160px;top:228px;width:82px;height:17px;z-index:7;") }}
    {{ form.rejected_num(id="Editbox3", style="position:absolute;left:160px;top:258px;width:82px;height:17px;z-index:8;") }}
    {{ form.famous_persons(id="TextArea1", style="position:absolute;left:56px;top:288px;width:145px;height:90px;z-index:9;") }}


    <!--{{form.back(id="Button3", style="position:absolute;left:88px;top:420px;width:90px;height:25px;z-index:21;")}}-->
    {{form.add(id="Button1", style="position:absolute;left:304px;top:420px;width:90px;height:25px;z-index:23;")}}

<div id="wb_page1Text2" style="position:absolute;left:330px;top:8px;width:110px;height:38px;text-align:right;z-index:10;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد آثار ارسال شده</strong></span></div>
<div id="wb_page1Text3" style="position:absolute;left:311px;top:49px;width:131px;height:38px;text-align:right;z-index:11;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد آثار کارشناسی شده</strong></span></div>
<div id="wb_page1Text4" style="position:absolute;left:330px;top:86px;width:111px;height:19px;text-align:right;z-index:12;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد تک اثر</strong></span></div>
<div id="wb_page1Text5" style="position:absolute;left:330px;top:128px;width:111px;height:19px;text-align:right;z-index:13;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد مجموعه اثر</strong></span></div>
<div id="wb_page2Text1" style="position:absolute;left:274px;top:161px;width:167px;height:19px;text-align:right;z-index:14;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد آثار ارسالی به سوره مهر</strong></span></div>
<div id="wb_page2Text2" style="position:absolute;left:278px;top:203px;width:163px;height:19px;text-align:right;z-index:15;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد آثار ارسالی به استان ها</strong></span></div>
<div id="wb_کارشناسی_شعرText1" style="position:absolute;left:278px;top:236px;width:163px;height:19px;text-align:right;z-index:16;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد چاپ شده</strong></span></div>
<div id="wb_کارشناسی_شعرText2" style="position:absolute;left:278px;top:271px;width:163px;height:19px;text-align:right;z-index:17;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد نوبت چاپ</strong></span></div>
<div id="wb_کارشناسی_شعرText3" style="position:absolute;left:276px;top:306px;width:163px;height:19px;text-align:right;z-index:18;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>تعداد آثار رد شده</strong></span></div>
<div id="wb_کارشناسی_شعرText4" style="position:absolute;left:251px;top:353px;width:188px;height:38px;text-align:right;z-index:19;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>شاخص ترین هنرمندانی که در این بخش اثری را ارسال کرده بودند</strong></span></div>

    <!--<input type="submit" id="page2Button1" name="chap" value="چاپ" style="position:absolute;left:160px;top:490px;width:90px;height:25px;z-index:21;">-->

</form>
</div>
</body>
</html>{% endblock %}