{% extends "layout_new.html" %}

{% block content %}
<form action="/edit_projects" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام پروژه </p>
				{{ form.name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>مسئول پروژه </p>
				{{ form.proj_res_name }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>وضعیت گردآوری </p>
                {{ form.gerd_vaz }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">
			<div class="form-group">
			<p>وضعیت آماده چاپ </p>
				{{ form.ach_vaz }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>دفتر پیگیری </p>
				{{ form.pey_office }}
                <div class="validation"></div>
			</div>
			
			<div class="form-group">
			<p>شرح موضوع </p>
				{{ form.subject_description }}
                <div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}