
{% extends "layout.html" %}{% block content %}<div id="wb_Form1" style="position:absolute;left:266px;top:235px;width:483px;height:419px;z-index:32;">
<form name="contact" method="post" action="/projects" id="Form1">
    {{ form.hidden_tag() }}
    {{ form.name(id="Editbox3", style="position:absolute;left:200px;top:28px;width:82px;height:17px;z-index:3;")}}
    {{ form.proj_res_name(id="Editbox3", style="position:absolute;left:199px;top:71px;width:82px;height:17px;z-index:4;")}}
    {{ form.gerd_vaz(id="Editbox3", style="position:absolute;left:200px;top:104px;width:82px;height:17px;z-index:5;")}}
    {{ form.ach_vaz(id="Editbox3", style="position:absolute;left:200px;top:142px;width:82px;height:17px;z-index:6;")}}
    {{ form.pey_office(id="Editbox3", style="position:absolute;left:200px;top:180px;width:82px;height:17px;z-index:7;")}}
    {{ form.subject_description(id="TextArea1", style="position:absolute;left:200px;top:234px;width:89px;height:88px;z-index:8;")}}
    {{form.back(id="Button3", style="position:absolute;left:88px;top:350px;width:90px;height:25px;z-index:21;")}}
    {{form.add(id="Button1", style="position:absolute;left:304px;top:350px;width:90px;height:25px;z-index:23;")}}

<!--<input type="submit" id="Button4" name="chap" value="چاپ" style="position:absolute;left:219px;top:365px;width:90px;height:25px;z-index:1;">-->

<div id="wb_page1Text2" style="position:absolute;left:384px;top:32px;width:52px;height:19px;text-align:right;z-index:9;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>نام پروژه</strong></span></div>
<div id="wb_page1Text3" style="position:absolute;left:359px;top:71px;width:77px;height:19px;text-align:right;z-index:10;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>مسئول پروژه</strong></span></div>
<div id="wb_page1Text4" style="position:absolute;left:326px;top:108px;width:111px;height:19px;text-align:right;z-index:11;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>وضعیت گردآوری</strong></span></div>
<div id="wb_page1Text5" style="position:absolute;left:326px;top:146px;width:111px;height:19px;text-align:right;z-index:12;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>وضعیت آماده چاپ</strong></span></div>
<div id="wb_page1Text6" style="position:absolute;left:292px;top:179px;width:145px;height:19px;text-align:right;z-index:13;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>دفتر پیگیری</strong></span></div>
<div id="wb_page2Text1" style="position:absolute;left:292px;top:215px;width:145px;height:19px;text-align:right;z-index:14;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>شرح موضوع</strong></span></div>
</form>
</div>
</body>
</html>{% endblock %}