{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_research" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام پژوهش</p>
				{{ form.research_name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>نویسنده یا مؤلف </p>
				{{ form.author }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>موضوع و قالب </p>
                {{ form.research_subject }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>محل انتشار </p>
				{{ form.outing_place }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>
			
			<div class="form-group">
			<p>محور محتوایی </p>
				{{ form.meh_moh }}
				<div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}