{% extends "layout - edit.html" %}{% block content %}
<div id="wb_Form1" style="position:absolute;left:266px;top:221px;width:483px;height:507px;z-index:30;">
<form name="contact" method="post" action="/edit_research" id="Form1">

    {{ form.hidden_tag() }}
    {{ form.research_name(id="Editbox3", style="position:absolute;left:208px;top:28px;width:82px;height:17px;z-index:4;") }}
    {{ form.author(id="Editbox3", style="position:absolute;left:208px;top:67px;width:82px;height:17px;z-index:3;") }}
    {{ form.research_subject(id="Editbox3", style="position:absolute;left:208px;top:108px;width:82px;height:17px;z-index:2;") }}
    {{ form.outing_place(id="Editbox3", style="position:absolute;left:208px;top:147px;width:82px;height:17px;z-index:1;") }}
    {{ form.meh_moh(id="Combobox1", style="position:absolute;left:206px;top:188px;width:94px;height:28px;z-index:0;") }}

    <!--{{form.back(id="Button3", style="position:absolute;left:88px;top:350px;width:90px;height:25px;z-index:21;")}}-->
    {{form.add(id="Button1", style="position:absolute;left:304px;top:350px;width:90px;height:25px;z-index:23;")}}


<!--<input type="submit" id="page2Button1" name="chap" value="چاپ" style="position:absolute;left:173px;top:315px;width:90px;height:25px;z-index:6;">-->

<div id="wb_page1Text2" style="position:absolute;left:334px;top:35px;width:110px;height:19px;text-align:right;z-index:8;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>نام پژوهش&nbsp; </strong></span></div>
<div id="wb_page1Text3" style="position:absolute;left:357px;top:74px;width:87px;height:38px;text-align:right;z-index:9;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>نویسنده یا مولف</strong></span></div>
<div id="wb_page1Text4" style="position:absolute;left:334px;top:114px;width:111px;height:19px;text-align:right;z-index:10;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>موضوع و قالب</strong></span></div>
<div id="wb_پژوهشText1" style="position:absolute;left:334px;top:151px;width:111px;height:19px;text-align:right;z-index:11;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>محل انتشار</strong></span></div>
<div id="wb_پژوهشText2" style="position:absolute;left:334px;top:188px;width:111px;height:19px;text-align:right;z-index:12;">
<span style="color:#000000;font-family:Arial;font-size:16px;"><strong>محور محتوایی</strong></span></div>
</form>
</div>
</body>
</html>{% endblock %}