{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_romance" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>تعداد آثار ارسال شده</p>
				{{ form.sent_asar_num }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>تعداد آثار کارشناسی شده </p>
				{{ form.seen_asar_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد داستان کوتاه </p>
                {{ form.short_story_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد رمان </p>
				{{ form.romance_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد آثار ارسالی به سوره مهر </p>
				{{ form.sent_to_mehr_asar_num }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>تعداد آثار ارسالی به استان ها </p>
				{{ form.sent_to_city_asar_num }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد چاپ شده </p>
				{{ form.printed_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد نوبت چاپ </p>
                {{ form.in_printed_num }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد رد شده </p>
                {{ form.rejected_num }}
                <div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}