{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_sessions" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام کارگاه یا جلسه</p>
				{{ form.name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>موضوع </p>
				{{ form.session_subject }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>نام استاد یا منتقد </p>
                {{ form.prof_name }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>میانگین مخاطب </p>
				{{ form.contact_avg }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>تعداد جلسات </p>
				{{ form.count }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>کشور محل برگزاری </p>
				{{ form.country }}
				<div class="validation"></div>
			</div>
			
			<div class="form-group">
			<p>استان محل برگزاری </p>
				{{ form.city }}
				<div class="validation"></div>
			</div>	
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>سالن محل برگزاری </p>
				{{ form.salon }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>سطح برگزاری </p>
				{{ form.level }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>دفتر برگزار کننده </p>
                {{ form.office }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>مهمترین دستاوردها </p>
                {{ form.achievements }}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>1 محور محتوایی </p>
				{{ form.meh_moh1 }}
				<div class="validation"></div>
			</div>
			
			<div class="form-group">
			<p>2 محور محتوایی </p>
				{{ form.meh_moh2 }}
				<div class="validation"></div>
			</div>
			
			<div class="form-group">
			<p>3 محور محتوایی </p>
				{{ form.meh_moh3 }}
				<div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}