{% extends "layout_edit.html" %}

{% block content %}
<form action="/edit_visual_products" method="POST">
{{ form.hidden_tag() }}
    <div class="rightcontact">
		    <div class="form-group">
			<p>نام رشته</p>
				{{ form.major_name }}
				<div class="validation"></div>
      		</div>

            <div class="form-group">
            <p>تعداد اثر </p>
				{{ form.number }}
                <div class="validation"></div>
			</div>
	</div>

	<div class="leftcontact">

			<div class="form-group">
			<p>اسامی هنرمندان </p>
				{{ form.producers_name }}
				<div class="dropDownSelect2"></div>
                <div class="validation"></div>
			</div>
	</div>
    {{ form.add(class="bouton-contact") }}
</form>

    
{% endblock %}